@font-face {
    font-family: 'Source Sans Pro';
    src: url('./source-sans-pro/source-sans-pro-regular.eot');
    src: url('./source-sans-pro/source-sans-pro-regular.eot?#iefix') format('embedded-opentype'),
        url('./source-sans-pro/source-sans-pro-regular.woff') format('woff'),
        url('./source-sans-pro/source-sans-pro-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "DegularBold";
    src: url('./degular/DegularVariable.woff2') format('woff2'),
        url('./degular/DegularVariable.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Plex";
    src: url('./IBM_Plex_Sans/IBMPlexSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: "JBM";
    src: url('./jbm/JetBrainsMono.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}